<html>
<head>
<meta name="viewport" content="width=device-width">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800' rel='stylesheet' type='text/css'>
<script src="../libs/jquery.min.js"></script>
<script src="../libs/underscore-min.js" ></script>
<script src="../libs/backbone-min.js"></script>
<script src="../libs/iscroll-lite.js"></script>
<link rel="stylesheet" type="text/css" href="workbench-perf.css"></link>

<script src="../src/PerfView.js"></script>
<script src="../src/ReuseView.js"></script>


</head>

<!-- Turn on and off automatic stress tests here. -->
<!-- Possible tests are: stress-test-css stress-test-events stress-test-autoscroll -->

<body class="stress-test-css stress-test-events">
    <div id="header" style="width: 100%; padding-bottom: 20px;">
        <h1 style="font-size: 16px;">PrefView - A JavaScript framework for infinite scroll views on desktop, table and mobile.</h1>
        <p style="font-size: 12px;">Lighting fast page loads and consistant high FPS. See the Github project for details: 
            <a href='https://github.com/puppybits/BackboneJS-PerfView'>github.com/puppybits/BackboneJS-PerfView</a>
        </p>
    </div>
<script class="listItem" type="text/underscore-template">
<row class="stripe-<%= rank % 2 ? 'even' : 'odd' %>">
    <div class="left">
        <div class="pokéstatus"><%= pokestatus %></div>
        <img class="pokéfile" src="<%= pokefile %>"></img>
    </div>
    <div class="right">
        <h3><%= title %></h3>
        <p><%= body %></p>
        <rate><%= rate %></rate>
        <tags><%= tags %></tags>
        <rank class="group-<%= rank % 5 %>"><%= rank %></rank>
    </div>
</row>
</script>

</body>



<script>

/* Turn on or off some stress tests via the developer console. Great to get some base line readings. */

var isIOS = (document.documentElement.style.webkitOverflowScrolling !== undefined ? true : false),
runStressTestEvents = document.body.className.indexOf('stress-test-events') > -1,
runStressTestAutoscroll = document.body.className.indexOf('stress-test-autoscroll') > -1;

window.stress = {
    autoscroll: (function(autoscroll){
        return function( stop )
        {
            if(stop) return clearInterval(autoscroll);
        
            autoscroll = setInterval(
                function()
                { 
                    $('.iscroll')
                        .animate(
                            {scrollTop: '+='+((Math.random()*10000)+2000), duration:600} 
                        ) 
                }, 600);
        };
        }(0)),
    events: (function(fire){
        return function(stop)
        {
            if(stop) return clearInterval(fire);
            
            fire = setInterval(function(){
                for (var i = pool._cursor[0]; i < pool._cursor[1]; i++)
                {
                    var rand = Math.random();
                    if (0.25 < rand || rand > 0.75) continue;
                    var model = pool.collection.at(i);
                    model.set('rate', model.get('rate') + (rand < 0.5 ? -1 : 1));
                }
            }, 100);
        };
    }(0)),
    css: function(stop){
        if (stop) return document.body.className = '';
        
        document.body.className = 'stress-test-css';
    },
    loadimages: function(stop){
        if (stop)
            return ListItem.modelMap.pokefile['img.pokéfile'] = 
                function(){};
        ListItem.modelMap.pokefile['img.pokéfile'] = 
            function setProfile($cachedElement, value){
                $cachedElement[0].src = value;
            }
    }
};


/* 
    Build the model. 

    Ramp up the count to tax the system harder. Chrome can support a million
    models in the collection. But it take 147 MB and a look time to create in JS.
    There is a lazy loader to only build it a small amount for each interval. It's
    totally a hack but it's needed for the size load this takes.
 */

var count = 10000,           // can ramp up to a million on Chrome
maxPerLazyLoad = 100,        // 100 is a good level for mobile devices.
modelCreationSleepTime = 32; // use a basic inteval to lazy create models, this is so it doesn't hang when you try to load a million models

var Person = Backbone.Model.extend({
    pokestatus: null,
    pokefile: null,
    title: null,
    body: null,
    rate: null,
    tags: null,
    rank: null
});

var collection = new Backbone.Collection(), p;
collection.length = count;
window.console = window.console || {};
window.console.time = window.console.time || function(){};
window.console.timeEnd = window.console.timeEnd || function(){};


console.time('Created '+count+' Models');

(function lazyLoadB(collection, i, total, perInterval, delay){
    var replace = function(){
        var end = i + perInterval;
        for(; i < end; i++)
        {
            p = new Person();
            p.set('pokestatus', 'ready');
            p.set('pokefile', null);
            p.set('pokefile', 'https://graph.facebook.com/'+Math.floor((Math.random()*100000)+10000)+'/picture?type=large');
            p.set('title', ['Ben', 'Wes', 'George', 'Scott', 'Jake'][Math.floor(Math.random()*5)] + [' Jones', ' Smith', ' Ranger', ' Taki', ' Perce'][Math.floor(Math.random()*5)])
            p.set('body', ['Lorem ipsum dolor sit amet, dictas splendide pertinacia te mel.',
            'Stet vivendo quaerendum id mei, per te cibo ignota ocurreret.',
            'Sed ut wisi disputando.',
            'Vix exerci omnesque laboramus in.',
            'Mazim soluta eripuit sit ut, cu mea primis comprehensam, has id dolore viderer.']
                [Math.floor(Math.random()*4)]);
            p.set('rate', Math.floor(Math.random()*60)+ 65);
            p.set('tags', 'lap 1');
            p.set('rank', i);
            collection.add(p, {at:i});
        }
        collection.length = total;
        // console.log(i);
        if (i >= total) 
        {
            clearInterval(int);
            console.timeEnd('Created '+total+' Models');
        }
    };
    var int = setInterval(replace, delay);
    
    // prime the models a bit more on the first run
    replace();
    replace();
    replace();
    replace();
    
}(collection, 0, count, maxPerLazyLoad, modelCreationSleepTime));

var tmp = _.template( $('.listItem').text() );

var ListItem = Backbone.ReuseView.extend({
    /*
        NOTE: performance tip. If you name the anonymous functions it
        will help a TON to see the impact in the devTools profiler.
        Also these map functions will be called from the window scope (in next version).
        This makes it hard to screw perfromance by doing too much when updating
        the DOM with a new model.

        This is to map the model to the DOM. Data Binding in other frameworks
        already do this for you. In Backbone a lot of memory and CPU is spent
        destroying and recreating the DOM. This is the biggest part that improves
        rendering performance. 
        
        The key is the name of the property in the model. The first item in the
        array is the jQuery selector, the second is the method that will be called
        when the view needs updating.
        
        Setting some properties like images will cause major work to occur. 
        Images will trigger a network connection to open, download a large amount
        of data, then it needs to decompress the JPG or PNG into a raw image format
        then it adds it to the DOM for you. During fast scrolling there's no time
        to incur the load, also the image load will probably be off the screen before
        it even downloads. make sure the jquery selector has 'img' in it so that
        PerfView can not queue new image downloads while it's scrolling fast.
    */
    modelMap: {
        'pokestatus': ['.pokéstatus', 
            function setStatus($cachedElement, value){
                $cachedElement[0].innerHTML = value;
            }
        ],
        'pokefile': ['img.pokéfile',
            function setProfile($cachedElement, value){
                $cachedElement[0].src = value;
            }
        ],
        'title': ['h3',
            function setTitle($cachedElement, value){
                $cachedElement[0].innerHTML = value;
            }
        ],
        'body': ['p',
            function setBody($cachedElement, value){
                $cachedElement[0].innerHTML = value;
            }
        ],
        'rate': ['rate',
            function setRate($cachedElement, value){
                $cachedElement[0].innerHTML = value;
            }
        ],
        'tags': ['tags',
            function setTags($cachedElement, value){
                $cachedElement[0].innerHTML = value;
            }
        ],
        'rank': ['rank',
            function setRank($cachedElement, value){
                $cachedElement[0].className = 'group-' + (value % 5);
                $cachedElement[0].innerHTML = value;
                // NOTE: you shouldn't have access to $el. need to update
                // the reuse view to allow for repaint overrider
                this.$el[0].className = 'stripe-' + (value % 2 ? 'even': 'odd');
            }
        ],
    },
    
    partial: $('.listItem').text(),
    
    /* 
        Render is only called once. Allocating a lot of memory on the DOM
        is expensive. It's worse when you allocated and then destroy memory
        just to create it again. You will need to keep logic out of the 
        partials in order to not be tied to be constantly creating and destorying
        elements in the DOM.
    */
    render: function(){
        this.$el = $(tmp(this.model.toJSON()));
        
        console.log('rendered reuseview');
        
    }
});

/*
    Create the pool. 
*/
var Pool = Backbone.PerfView.extend({
    render: function() 
    {
        var scroll = $('<div class="iscroll">');
        scroll.css({
            height: '100%',
            width: '100%',
            border: '1px solid red'
        });
        
        if (isIOS) 
        {
            this.$el = scroll;
            document.body.appendChild(this.$el[0]);
        }
        else
        {
            this.$el = $(document.body);
        }
        
        console.log('rendered pool');
        
    },
    
    /* 
        Set the static height to have massive speed improvements. 
        This is optional but highly recommended. The index of the collection
        is passed in so that you can create variable heights and section
        headers. The value is used to calculate where to place the reuse view.
    */
    estimateHeightAt: function(idx)
    {
        return 143;
    },
    
    paddingTop: 0,
    
    /*  
        The repaint function is responsible to:
         1. get the model in the collection
         2. call the super class dequeueView method to get a reuse item from the pool
         3. call the repaint on the reusable view and pass it the index, position and model
         4. return the reuse view to the callee
        This method is required.
    */ 
    repaint: function( idx, position ) 
    {
        // get object from dequeueView
        var model = this.collection.at(idx);
        var opts = { model:this.collection.at(idx) };
        var item = this.dequeueView('li', ListItem, opts );
        
        // call the repaint and pass in the backbone model and the new top/left position
        item.repaint(idx, position, model);
        
        // return new item
        return item;
    }
});


var pool = new Pool({collection: collection});

if (isIOS) 
{
    document.body.appendChild(pool.$el[0]);
}


// automation tests
if (runStressTestEvents) stress.events();
if (runStressTestAutoscroll) stress.autoScroll();

</script>
</html>

